/* ---------------- */
/* 色の共通スタイル */
/* ---------------- */
:root {
	--text-clr		: #000000;		/* 白色			*/
	--background-clr: #000000;		/* 黒色			*/
	--borderline-clr: #333333;		/* 灰色			*/
}

/* ------------------ */
/* デバイス/共通 設定 */
/* ------------------ */
.deviceFrame {
	/* デバイスの画サイズ */
	width			: 1280px;
	height			: 720px;
	/* フォント/背景色 */
	font-size		: 16px;	/* 基本サイズ */
	color			: var(--text-clr);
	background		: var(--background-clr);

	/* 表示座標軸 固定(左上) */
	position		: absolute;
	top				: 0px;
	left			: 0px;

	/* 子要素の並び順（縦並び） */
	display			: flex;
	flex-direction	: column
}



/* ---------- */
/* ヘッダ設定 */
/* ---------- */
.headerForm {
	width			: 100%;
	height			: 15%;
	border-bottom 	: 2px solid var(--borderline-clr);
	/* ヘッダフォント */
	font-size		: 1.4em;
	font-weight		: bold;

	/* 子要素の並び順（横並び） */
	display			: flex;
	align-items		: center;
	justify-content	: center;
}

/* ---------- */
/* ボディ設定 */
/* ---------- */
.bodyForm {
	width			: 100%;
	height			: 85%;

	/* 余白 */
	margin			: 20px;

	/* 子要素の並び順（横並び） */
	display			: flex;
	align-items		: flex-start;
	flex-direction	: column;
}


/* -------------------------- */
/* -------------------------- */
/* ↓からCSSバッチ 関連の定義 */
/* -------------------------- */
.bodyForm .menuList {
	width			: 40%;
	padding			: 5px 0;

	text-decoration	: none;
	color			: var(--text-clr);

	/* 子要素（縦軸：中央揃い、横軸：左寄せ */
	display			: flex;
	align-items		: center;
	justify-content	: flex-start;
}

/* アイコン/バッチ */
.bodyForm .menuList .menuIcon {
	position		: relative;
	padding			: 5px;
}
/* アイコン画像 */
.bodyForm .menuList .menuIcon .menuImg {
	width			: 70%;
	height			: auto;
	margin-right	: 20px;
	position		: relative;
}
/* バッチ（★アイコン用） */
.bodyForm .menuList .menuIcon .newBadgeStart{
	display			: block;
	width			: 15px;
	height			: 15px;
	margin			: 0 18px 15px 0 !important;
	border-radius	: 50%;
	background		: red;
	z-index			: 10;

	/* バッチ内テキスト */
	font-size		: 7px;
	text-align		: center;
	color			: var(--text-clr);

	/* 表示位置 */
	top				: 5;
	right			: 10;
	position		: absolute;
}

/* バッチ（★旗アイコン用） */
.bodyForm .menuList .menuIcon .newBadgeFlag{
	display			: block;
	width			: 15px;
	height			: 15px;
	margin			: 0 18px 15px 0 !important;
	border-radius	: 50%;
	background		: cyan;
	z-index			: 10;

	/* バッチ内テキスト */
	font-size		: 7px;
	text-align		: center;
	color			: var(--text-clr);

	/* 表示位置 */
	top				: 0;
	right			: 5;
	position		: absolute;
}
